
@font-face {
    font-family: "Neue";
    src: url("../fonts/PPNeueMontreal-Book-008195a2.otf") 
  }

  @font-face {
    font-family: "Tiposka";
    src: url("../fonts/Tiposka-Regular-959d52a6.otf");
  }
